
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.tabela {
  display: flex;
  flex-wrap: wrap;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coluna-esquerda {
  width: 48%;
}

.coluna-direita {
  width: 48%;
}

.secao {
  text-align: center;
  margin-bottom: 20px;
}

.secao i {
  margin-bottom: 10px;
  color: #FF7B00;
  font-size: 20em;
}

.secao h3 {
  font-size: 18px;
  font-weight: normal;
}

.imagem-sobreposta {
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

#h3_ramos{
    font-size:4em;
    text-align: center;
    color:#FF7B00;
}

@media (max-width: 768px) {
  .tabela {
    flex-direction: column;
  }

  .linha {
    flex-direction: column;
  }

  .coluna-esquerda, .coluna-direita {
    width: 100%;
  }
}
